html, body {
  margin: 0;
  padding: 0;
  min-width: 1122px;
  min-height: 1750px;

  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  color: #283136;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.wrapper {
  width: 1160px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-header {
  width: 100%;
  min-height: 97px;

  background-color: #eeeeee;

}

.main-navigation {
  padding-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  text-transform: uppercase;
  line-height: 30px;
  color: #000000;
  padding-top:50px;
  background-color: #eeeeee;
}

.main-hearder-logo {
  width: 160px;
  height: 65px;

}

.site-navigation {
  box-sizing: border-box;
  width: 560px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 140px;
  margin-right: 140px;
  padding-left: 60px;
  padding-right: 60px;

}

.basket {
  max-width: 180px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  align-items: flex-end;
}

.basket .basket-link {
  padding-left: 86px;
  position: relative;
}



.basket-link::before {
  content: " ";
  width: 15px;
  height: 15px;
  position: absolute;
  top: 28px;
  left: 45px;
  background-image: url("../img/cart-icon.svg");
  repeat: no-repeat;
  background-position: 0 0;
}

.site-navigation-item a {
  display: block;
  box-sizing: border-box;
    padding-top: 22px;
  padding-bottom: 8px;
}

.basket a {
  display: block;
  padding-top: 22px;

  padding-bottom: 8px;
}

.site-navigation a,
.basket a {
  color: #000000;

}

.site-navigation a:hover,
.user-navigation a:hover,
.basket a:hover,
.site-navigation a:focus,
.user-navigation a:focus,
.basket a:focus {
  color: #fb565a;
}

.site-navigation a:active,
.user-navigation a:active,
.basket a:active {
  color: #000000;
  opacity: 0.3;
}

.site-navigation,
.user-navigation,
.basket {
  margin: 0;
  padding: 0;

  list-style: none;
}





.slider-header {
  width: 100%;
  background:#eeeeee;
}
.slider {
  position:relative;

  height: 420px;
  margin: 0 auto;
}
.slider input[type=radio] {
  position: absolute;
  opacity: 0;
}
.slider-controls {
  position: absolute;
  bottom: 95px;
  left: 50%;
  width: 200px;
  height: 10px;
  margin-left: -100px;
  text-align: center;
  z-index: 1000;
}
.slider-controls label {
  display:inline-block;
  width:4px;
  height:4px;
  margin:0 3px;
  background:white;
  border: 3px solid #ffffff;
  vertical-align:top;
  border-radius:50%;
  cursor:pointer;
}
#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] {
  background:#c1c1c1;
}
.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.slide-text {
  width: 520px;
  padding: 30px 0;
  color: #283136;
  padding-top: 65px;
}
.slide-title {
  font-size: 55px;
  line-height:55px;
  font-weight: 500;
  color: #000000;
}

.slide .button {
  display: block;
  width: 240px;
  padding: 15px 0;
  margin-top: 25px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  background: #fb565a;
  border-radius: 3px;
}

.slide:nth-child(1){
  background-image:url("../img/slide1.png");
  background-repeat:no-repeat;
  background-position:100% 10px;
}
.slide:nth-child(2){
  background-image:url("../img/slide2.png");
  background-repeat:no-repeat;
  background-position:100% 10px;
}
.slide:nth-child(3){
  background-image:url("../img/slide3.png");
  background-repeat:no-repeat;
  background-position: 100% 20px;
}
.slide{
  display:none;
}
#btn-1:checked ~ .slides .slide:nth-child(1) {
  display: block;
}
#btn-2:checked ~ .slides .slide:nth-child(2) {
  display: block;
}
#btn-3:checked ~ .slides .slide:nth-child(3) {
  display: block;
}







.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-title-background {
  width: 100%;
  background-color: #eeeeee;
}

.page-title-container {
  height: 240px;
}

.page-title {
  box-sizing: border-box;
  padding: 80px 215px 115px 215px;
  font-size: 55px;
  margin:0;
  line-height: 55px;
  color: #000000;
  font-weight: 500;


}

.main-container {
  /*min-height: 2105px;*/
  margin-top: 55px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.filters-container {
  width: 260px;
  /*min-height: 775px;*/
}

.catalog-container {



}

.catalog-list {
  width: 760px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.catalog-list .catalog-item {
  width: 360px;
  margin-bottom: 33px;
}

.button {
  box-sizing: border-box;
  padding: 15px 40px;
  min-height: 50px;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
  text-transform: uppercase;


  background-color: #fb565a;
  border: none;
  border-radius: 3px;
}

.button:hover,
.button:focus {
  color: #ffffff;

  background-color: #e74246;
  border: none;
}

.button:active {
  color: rgba(255,255,255, 0.3);

  background-color: #d7373b;

}

.list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.our-works {
  min-height: 347px;
  height: 347px;
  padding-top: 80px;
  margin-bottom: 122px;


}

.our-works .list {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  }



.works-item {
  width: 300px;
}

.works-item .button {
  width: 160px;
}
.our-works-title {
  font-size: 24px;
  line-height: 30px;
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 25px;
}

.our-work-text {
  width: 260px;
  margin-bottom: 35px;
}

.button.order2  {
  background-color: #00ca74;


}

.button.order2:hover,
.button.order2:focus {
  background-color: #00bc6c;
}

.button.order2:active {
  color: rgba(255,255,255, 0.3);

  background-color: #00aa62;
}

.button.order3  {
  background-color: #efc84a;
}

.button.order3:hover,
.button.order3:focus {
  background-color: #eab534;
}

.button.order3:active {
  color: rgba(255,255,255, 0.3);

  background-color: #e5a722;
}

.main-about-us {
  box-sizing: border-box;
  min-height: 415px;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  border-top: 2px solid #eeeeee;
  border-bottom: 2px solid #eeeeee;
  padding-bottom: 50px;


}

.about-us-container1 {
  box-sizing: border-box;
  width: 660px;
  padding-top: 75px;
}

.about-us-container2 {
  box-sizing: border-box;
  width: 360px;
  margin-left: auto;
  padding-top: 35px;

}

.about-us-container1 b {
  display: block;
  font-size: 35px;
  line-height: 45px;
  font-weight: 500;
  color: #000000;
  width: 660px;
}

.about-us-container1 h3 {
  box-sizing: border-box;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
  padding-top: 25px;
}

.about-us-container2 b {
  display: block;
  padding-top: 35px;
  box-sizing: border-box;
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;
}

.about-us-container1 p {
  box-sizing: border-box;
  width: 620px;
  padding-top: 25px;
}

.about-us-orders {
  box-sizing: border-box;
}

.about-us-orders li {
  box-sizing: border-box;
  position: relative;
  padding-left:37px;
  padding-bottom: 30px;
}

.about-us-orders li::before {
  content: " ";
  width: 25px;
  height: 2px;
  background-color: #fb565a;
  position: absolute;
  top: 11px;
  left: 6px;
}


.about-us-table {
  box-sizing: border-box;
  margin-top: 45px;
  min-width: 345px;
}

.table-cell {
  display: inline-block;
  box-sizing: border-box;
  min-width: 115px;
  min-height: 45px;
}

.about-us-table tr:first-of-type {
  font-size: 45px;
  line-height: 10.06px;
  color: #000000;
  font-weight: bold;
}

.about-us-table tr:last-of-type {
  line-height: 18px;
}

.our-partners {
  box-sizing: border-box;
  padding-top: 62px;
  padding-bottom: 50px;
  border-bottom: 2px solid #eeeeee;
  padding-left: 31px;
  padding-right: 43px;

}

.our-partners .list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.our-partner {
  display: block;
  box-sizing: border-box;
  border-right: 2px solid #eeeeee;
  padding-right: 45px;
  flex-shrink: 0;
}
 .our-partners .list li:last-of-type {
  border-right: none;
  padding-right: 0;
}

.our-partners img {
  opacity: 0.2;
}
.our-partners img:hover,
.our-partners img:focus  {
  opacity: 1;
}

.our-partners img:active {
  opacity: 0.1;
}

.filter-name {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
}

.filter-price p {
  line-height: 22px;
  text-transform: uppercase;
}

.filter label {
  line-height: 20px;
}

.filter fieldset {
  border: none;
}

.filter-input:hover + label,
.filter-input:focus+ label{
  color: #000000;
}

.filter-input:disabled + label {
  opacity: 0.3;
}

.filter-button {
  color: #000000;

  background-color: #eeeeee;
}

.filter-button:hover,
.filter-button:focus {
  color: #000000;

  background-color: #dfdfdf;
}

.filter-button:active {
  opacity: 0.3;

  background-color: #d5d5d5;
}

.filter-second {
  width: 760px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.filter-second h3 {
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  text-transform: uppercase;
  margin-right: auto;
}

.filter-second ul {
  width: 360px;
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  justify-content: space-between;
}

.filter-second a {
  font-size: 14px;
  color: #000000;
  text-transform: uppercase;

  opacity: 0.3;
}

.filter-second-option a:hover,
.filter-second-option a:focus {
  opacity: 0.6;
}

.filter-second-option a:active {
  opacity: 1;
}

.filter-second .current a {
  opacity: 1;
}
.pagination-list {
  width: 443px;
  height: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}
.pagination-item, .pagination-item-current {
  width: 50px;
}

.pagination-item.next {
  width: 250px;
}

.pagination-item a {
  line-height: 18px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;

  background-color: #eeeeee;
}

.pagination-item a:hover,
.pagination-item a:focus  {
  color: #000000;

  background-color: #dfdfdf;
}

.pagination-item a:active {
  color: #000000;
  color: rgba(0,0,0, 0.3);

  background: #d5d5d5;
}

.pagination-item-current a {
  text-align: center;
  color: #000000;

  background-color: #ffffff;
}

.modal h4 {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: #000000:
}


.contacts {
  position: relative;
  margin-top: 80px;
  height: 417px;
  background-image: url("../img/map.png");
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  flex-wrap
  flex-shrink: 0;
}
.contacts-container::after{
  position: absolute;
  content:" ";
  height: 190px;
  width: 155px;
  left: 822px;
  bottom: 140px;
    background-image: url("../img/map-marker.png");
}



.contacts-container .button {
  display: block;
  margin-top: 35px;
  min-width: 220px;
  padding: 15px 46px;


}

.contacts-container {
  width: 319px;
  height: 308px;
  margin-top: 55px;
  padding: 30px 50px 45px 45px;
  background: #ffffff;
  box-sizing: border-box;


}

.contacts h3 {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
}

.contacts p {
  line-height: 18px;
  color: #666666;
}

.main-footer {
  background-color: #ffffff;
  height:  217px;
}

.footer-social {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  margin-top: 70px;
}

.footer-social b {
  margin-left: auto;
  margin-right: 200px;
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
  color: #000000;
  margin-top: 75px;
}

.footer-social p {
  margin-left: auto;
  margin-right: 400px;
  line-height: 22px;
  margin-top: 10px;
  color: #444444;
}

.footer-social-container1 {
}
.footer-social-container2 {
  height: 80px;
  margin-right: auto;

}

.footer-social .social-list li {
  background-image: url("../img/contacts-shape.png");
  background-repeat: no-repeat;
  min-height: 79px;
  width: 79px;
  box-sizing: border-box;
}

.social-list {
  width: 260px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.social-button  {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 79px;
  height: 79px;
  box-sizing: border-box;
  border-radius: 100%;
  background-color: #e1e1e1;
}

.social-button:hover,
.social-button:focus {
  background-color: #e74246;
}

.social-button:active {
  background-color: #d7373b;
}

.social-button:active path {
  fill: #e37376;
}
