html, body {
  min-width: 1122px;
  min-height: 1750px;
  margin: 0;
  padding: 0;

  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  color: #283136;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}
.wrapper {
  width: 1160px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-header {
  width: 100%;
  min-height: 97px;

  background-color: #eeeeee;

}

.main-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 50px;

  text-transform: uppercase;
  line-height: 30px;
  color: #000000;

  background-color: #eeeeee;
}

.main-hearder-logo {
  width: 160px;
  height: 65px;

}

.site-navigation {
  width: 560px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-sizing: border-box;
  margin-left: 140px;
  margin-right: 140px;
  padding-left: 60px;
  padding-right: 60px;

}

.basket {
  max-width: 180px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-end;
}

.basket .basket-link {
  position: relative;

  padding-left: 86px;

}



.basket-link::before {
  content: " ";
  width: 15px;
  height: 15px;
  position: absolute;
  top: 28px;
  left: 45px;

  background-image: url("../img/cart-icon.svg");
  repeat: no-repeat;
  background-position: 0 0;
}

.site-navigation-item a {
  display: block;
  box-sizing: border-box;
  padding-top: 22px;
  padding-bottom: 8px;
}

.basket a {
  display: block;
  padding-top: 22px;
  padding-bottom: 8px;
}

.site-navigation a,
.basket a {
  color: #000000;
}

.site-navigation a:hover,
.user-navigation a:hover,
.basket a:hover,
.site-navigation a:focus,
.user-navigation a:focus,
.basket a:focus {
  color: #fb565a;
}

.site-navigation a:active,
.user-navigation a:active,
.basket a:active {
  color: #000000;
  opacity: 0.3;
}

.site-navigation,
.user-navigation,
.basket {
  margin: 0;
  padding: 0;

  list-style: none;
}





.slider-header {
  width: 100%;

  background:#eeeeee;
}

.slider {
  position:relative;
  min-height: 420px;
  margin: 0 auto;
}
.slider input[type=radio] {
  position: absolute;

  opacity: 0;
}

.slider-controls {
  position: absolute;
  bottom: 95px;
  left: 50%;
  width: 200px;
  height: 10px;
  margin-left: -100px;
  text-align: center;
  z-index: 1000;
}
.slider-controls label {
  display:inline-block;
  width:4px;
  height:4px;
  margin:0 3px;
  background:white;
  border: 3px solid #ffffff;
  vertical-align:top;
  border-radius:50%;
  cursor:pointer;
}
#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] {
  background:#c1c1c1;
}
.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.slide-text {
  box-sizing: border-box;
  width: 520px;
  padding: 30px 0;
  color: #283136;
  padding-top: 65px;
  padding-right: 100px;
}
.slide-title {
  font-size: 55px;
  line-height:55px;
  font-weight: 500;
  color: #000000;
}

.slide .button {
  display: block;
  width: 240px;
  padding: 15px 0;
  margin-top: 25px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  background: #fb565a;
  border-radius: 3px;
}

.slide:nth-child(1){
  background-image:url("../img/slide1.png");
  background-repeat:no-repeat;
  background-position:100% 10px;
}
.slide:nth-child(2){
  background-image:url("../img/slide2.png");
  background-repeat:no-repeat;
  background-position:100% 10px;
}
.slide:nth-child(3){
  background-image:url("../img/slide3.png");
  background-repeat:no-repeat;
  background-position: 100% 20px;
}
.slide{
  display:none;
}
#btn-1:checked ~ .slides .slide:nth-child(1) {
  display: block;
}
#btn-2:checked ~ .slides .slide:nth-child(2) {
  display: block;
}
#btn-3:checked ~ .slides .slide:nth-child(3) {
  display: block;
}







.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-title-background {
  width: 100%;

  background-color: #eeeeee;
}

.page-title-container {
  min-height: 240px;
  box-sizing: border-box;
  padding: 75px 215px 110px 215px;
}

.page-title {
  margin:0;

  font-size: 55px;
  line-height: 55px;
  color: #000000;
  font-weight: 500;


}

.main-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 55px;
}

.range-filter {
  width: 260px;
}

.range-controls {
  position: relative;
  box-sizing: border-box;
  height: 80px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 15px;
  border-radius: 5px;
  background: #eeeeee;
}

.range-controls .scale {
  height: 2px;
  background-color: #d7dcde;
}

.range-controls .bar {
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 4px;
  height: 4px;
  cursor: pointer;
  border: 8px solid #fff;
  border-radius: 50%;
  background: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
}

.range-controls .toggle-min {
  left: 50px;
}

.range-controls .toggle-max {
  left: 110px;
}

.price-controls {
  font-size: 0;
  margin-bottom: 60px;
}

.price-controls label {
  font-size: 16px;
  display: inline-block;
  width: 50%;
}

.max-price {
  text-align: right;
}

.price-controls input {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  width: 60px;
  margin-left: 10px;
  padding: 8px 10px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}




.filters-container {
  width: 260px;
  min-height: 770px;
}

.filter-price {
  min-height: 132px;
}

.catalog-item .button-price {
  padding: 18px 60px;
}
.catalog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 760px;
}

.catalog-list .catalog-item {
  width: 360px;
  margin-bottom: 33px;
}

.button {
  min-height: 50px;
  display: inline-block;
  box-sizing: border-box;
  padding: 15px 40px;

  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #fb565a;
  border: none;
  border-radius: 3px;

  cursor: pointer;
}

.button:hover,
.button:focus {
  color: #ffffff;

  background-color: #e74246;
  border: none;
}

.button:active {
  color: rgba(255,255,255, 0.3);

  background-color: #d7373b;

}

.list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.our-works {
  margin-right: 60px;
  margin-top: 80px;
  margin-bottom: 122px;
}

.our-works .list {

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-sizing: border-box;
}



.works-item {
  width: 300px;
}

.works-item .button {
  width: 160px;
}
.our-works-title {
  margin-top: 30px;
  margin-bottom: 25px;

  font-size: 24px;
  line-height: 30px;
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;
}

.our-work-text {
  width: 260px;
  margin-bottom: 35px;
}

.button.order2  {
  background-color: #00ca74;


}

.filter-radio  {
  position: relative;

  display: inline-block;
  box-sizing: border-box;
  padding-bottom: 14px;

  box-sizing: border-box;
  padding-left: 36px;
  cursor: pointer;
}


.filter-radio input[type="radio"] + .radio-indicator {
  position: absolute;
  content:"";
  left: 5px;
  bottom:13px;

  width: 25px;
  height: 25px;

  background-image: url("../img/radio-off.svg");
  opacity: 0.5;
}

.filter-radio input[type="radio"]:fosuc + .radio-indicator {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

.filter-radio input[type="radio"]:checked + .radio-indicator {
  background-image: url("../img/radio-on.svg");
}

.filter-input-radio + label::before[checked] {
  position: absolute;
  content:"";
  left: 5px;
  bottom:13px;

  width: 25px;
  height: 25px;

  background-image: url("../img/radio-on.svg");
  background-repeat: no-repeat;
}

.filter-checkbox{
  position: relative;

  display: inline-block;
  box-sizing: border-box;
  padding-bottom: 14px;

  box-sizing: border-box;
  padding-left: 36px;
  cursor: pointer;
}

.filter-checkbox input[type="checkbox"] + .checkbox-indicator {
  position: absolute;
  content:"";
  left: 5px;
  bottom:13px;

  width: 25px;
  height: 25px;

  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  opacity: 0.5;
}

.filter-checkbox input[type="checkbox"]:checked + .checkbox-indicator {
  background-image: url("../img/checkbox-on.svg");
}


.button.order2:hover,
.button.order2:focus {
  background-color: #00bc6c;
}

.button.order2:active {
  color: rgba(255,255,255, 0.3);

  background-color: #00aa62;
}

.button.order3  {
  background-color: #efc84a;
}

.button.order3:hover,
.button.order3:focus {
  background-color: #eab534;
}

.button.order3:active {
  color: rgba(255,255,255, 0.3);

  background-color: #e5a722;
}

.main-about-us {
  min-height: 415px;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding-bottom: 50px;

  border-top: 2px solid #eeeeee;
  border-bottom: 2px solid #eeeeee;
}

.about-us-left {
  width: 660px;
  box-sizing: border-box;
  padding-top: 75px;
}

.about-us-right {
  width: 360px;
  box-sizing: border-box;
  margin-left: auto;
  padding-top: 35px;
}

.about-us-left h3 {
  box-sizing: border-box;
  padding-top: 25px;

  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
}

.about-us-left b {
  width: 660px;
  display: block;

  font-size: 35px;
  line-height: 45px;
  font-weight: 500;
  color: #000000;
}

.about-us-left p {
  margin: 0;
  width: 620px;
  box-sizing: border-box;
  padding-top: 35px;
}

.about-us-right b {
  display: block;
  box-sizing: border-box;
  padding-top: 35px;

  color: #000000;
  font-weight: bold;
  text-transform: uppercase;
}

.about-us-orders {
  box-sizing: border-box;
}

.about-us-orders li {
  position: relative;

  box-sizing: border-box;
  padding-left:37px;
  padding-bottom: 30px;
}

.about-us-orders li::before {
  content: " ";
  width: 25px;
  height: 2px;
  background-color: #fb565a;
  position: absolute;
  top: 11px;
  left: 6px;
}


.about-us-table {
  min-width: 345px;
  box-sizing: border-box;
  margin-top: 45px;
}

.table-cell {
  min-width: 115px;
  min-height: 45px;
  display: inline-block;
  box-sizing: border-box;
}

.about-us-table tr:first-of-type {
  font-size: 45px;
  line-height: 10.06px;
  color: #000000;
  font-weight: bold;
}

.about-us-table tr:last-of-type {
  line-height: 18px;
}

.our-partners {
  box-sizing: border-box;
  padding-top: 62px;
  padding-bottom: 50px;
  padding-left: 31px;
  padding-right: 43px;

  border-bottom: 2px solid #eeeeee;


}

.our-partners .list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.our-partner {
  display: block;
  flex-shrink: 0;
  box-sizing: border-box;
  padding-right: 45px;

  border-right: 2px solid #eeeeee;
}
 .our-partners .list li:last-of-type {
  padding-right: 0;

  border-right: none;
}

.our-partners img {
  opacity: 0.2;
}
.our-partners img:hover,
.our-partners img:focus  {
  opacity: 1;
}

.our-partners img:active {
  opacity: 0.1;
}

.filter-name {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
}

.filter-price p {
  line-height: 22px;
  text-transform: uppercase;
}


.filter-price .filter-name {
  margin-bottom: 52px;
}

.filter-grid .filter-name {
  margin-bottom: 15px;
}

.filter-fiture .filter-name {
  margin-bottom: 15px;
}
.filter label {
  line-height: 20px;
}

.filter fieldset {
  border: none;
}

.filter-input:hover + label,
.filter-input:focus+ label{
  color: #000000;
}

.filter-input:disabled + label {
  opacity: 0.3;
}

.filter-button {
  margin-top: 45px;

  color: #000000;

  background-color: #eeeeee;
}

.filter-button:hover,
.filter-button:focus {
  color: #000000;

  background-color: #dfdfdf;
}

.filter-button:active {
  opacity: 0.3;

  background-color: #d5d5d5;
}

.filter-second {
  width: 760px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.filter-second h3 {
  margin-right: auto;

  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  text-transform: uppercase;
}

.filter-second ul {
  width: 360px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: auto;
}

.filter-second a {
  font-size: 14px;
  color: #000000;
  text-transform: uppercase;

  opacity: 0.3;
}

.filter-second-option a:hover,
.filter-second-option a:focus {
  opacity: 0.6;
}

.filter-second-option a:active {
  opacity: 1;
}

.filter-second .current a {
  opacity: 1;
}



.pagination-list {
  min-height: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 60px;
}

.pagination-item a {
  display: inline-block;
  min-width: 50px;
  height: 50px;
  box-sizing: border-box;
  margin-right: 11px;
  padding-top: 16px;
  padding-bottom: 16px;

  line-height: 18px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  text-align: center;

  border-radius: 3px;
  background-color: #eeeeee;
}

.pagination-item-current a {
  display: inline-block;
  min-width: 50px;
  height: 50px;
  box-sizing: border-box;
  margin-right: 11px;
  padding-top: 13px;
  padding-bottom: 13px;

  line-height: 18px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  text-align: center;

  border-radius: 3px;
  border: 3px solid #eeeeee;
  background-color: #ffffff;
}


.pagination-item.next a {
  box-sizing: border-box;
  padding-left: 80px;
  padding-right: 80px;
}


.pagination-item a:hover,
.pagination-item a:focus  {
  color: #000000;

  background-color: #dfdfdf;
}

.pagination-item a:active {
  color: #000000;
  color: rgba(0,0,0, 0.3);

  background: #d5d5d5;
}

.modal h4 {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: #000000:
}


.contacts {
  position: relative;

  min-height: 417px;
  display: flex;
  justify-content: center;
  flex-wrap
  flex-shrink: 0;
  margin-top: 80px;

  background-image: url("../img/map.png");
  background-repeat: no-repeat;
  background-position: center top;
}
.contacts-container::after{
  position: absolute;
  content:" ";
  height: 190px;
  width: 155px;
  left: 822px;
  bottom: 140px;

  background-image: url("../img/map-marker.png");
}

.contacts-container {
  width: 319px;
  min-height: 308px;
  box-sizing: border-box;
  margin-top: 55px;
  padding: 30px 50px 0px 45px;

  background: #ffffff;
}

.contacts-container .button {
  min-width: 220px;
  display: block;
  margin-top: 35px;
  padding: 15px 46px;
  margin-bottom: 45px;
}

.contacts h3 {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
}

.contacts p {
  line-height: 18px;
  color: #666666;
}

.main-footer {
  min-height:  145px;
  margin-top: 70px;

  background-color: #ffffff;
}

.footer-social {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
}

.footer-social b {
  margin-left: auto;
  margin-right: 200px;
  margin-top: 75px;

  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
  color: #000000;
}

.footer-social p {
  margin-left: auto;
  margin-right: 400px;
  margin-top: 10px;

  line-height: 22px;
  color: #444444;
}

.footer-social-text {
  margin-left: 400px;
}

.footer-social-button{
  height: 80px;
  margin-right: auto;
}

.footer-social .social-list li {
  width: 79px;
  min-height: 79px;
  box-sizing: border-box;

  background-image: url("../img/contacts-shape.png");
  background-repeat: no-repeat;
}

.social-list {
  width: 260px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.social-button  {
  width: 79px;
  height: 79px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;

  border-radius: 100%;
  background-color: #e1e1e1;
}

.social-button:hover,
.social-button:focus {
  background-color: #e74246;
}

.social-button:active {
  background-color: #d7373b;
}

.social-button:active path {
  fill: #e37376;
}
